html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.app {
  width: 960px;
  margin: 0 auto;
  padding: 20px;
}

nav ul {
  border-radius: 12px;
  list-style: none;
  display: flex;
  background-color: #005d28;
  margin-bottom: 20px;
}

nav ul li {
  padding: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.current {
  border-bottom: 4px solid white;
}

h2 {
  color: #005d28;
  margin-bottom: 20px;
}

h1 {
  color: #005d28;
  margin-bottom: 20px;
}

p {
  margin-bottom: 15px;
}

.footnote {
  font-size: 12px;
  background-color: #92eeb5;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}